<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="logo" src="/assets/logo.png" alt="">
    <h2 >Confess anonymously!</h2>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
